* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:20px;
    padding:12px;
    color:white;
    font-family: 'poppins','sans-serif';
    height:100vh;
}

.calculator{
  width:300px;
  background: #1ff;
  border-radius: 12px;
  padding:21px;
box-shadow: 0 0 20px #000;
}
#display{
    background:#000;
    height:60px;
    border:2px solid;
    border-radius: 13px;
    margin-bottom:20px;
    padding:10px 20px;
    text-align: right;
    font-size: 2rem;

}

.buttons{
display: grid;
grid-template-columns: repeat(4,1fr);
background: #ddd3;
border:none;
border-radius: 12px;
gap:20px;
}

.buttons button{
    padding:12px;
    height:auto;
    border:none;
    border-radius: 4px;
    pointer-events:auto;
    cursor: pointer;
    font-size: 18px;
     background-color: #333;
     transition: 0.2s;
     color:white;
}

button:hover{
    background-color: rgb(96, 84, 86);
    transition: all 0.24s ease-in;
    transform: scale(1.06);
}
.buttons button:nth-child(4n) {
  background-color: #ff9500;
  color: white;
}

@media (max-width: 400px) {
  .calculator {
    width: 90%;
    padding: 15px;
  }

  .buttons {
    gap: 12px;
  }

  .buttons button {
    font-size: 1rem;
    padding: 12px;
  }
}
/* this is new area */
/* body{
  background-color:#ffffff;
  position:relative;
  transition:background-color 0.5s ease-in,color 0.5s ease;
    display:flex;
  justify-content:center;
  align-items:flex-end;
  flex-direction:column;
  cursor:pointer;
  font-family:sans-serif;
  color:#ffffff;
  height:100vh;
  margin:0;
} */

/* .toggleContainer{
  position:absolute;
  display:flex;
  justify-content:center;
  align-items:flex-start;
  flex-direction:column;
  background-color:lightgrey;
  border:2px solid #ccc;
  border-radius:16px;
  width:70px;
  height:31px;
  top:20px;
  right:20px;
  z-index:1000;
  overflow:hidden;
}
.slider{
  width:28px;
  height:28px;
  position:absolute;
  font-size:1.2rem;
  border:1px solid black;
  border-radius:50%;
  margin:2px;
  background-color:grey;
  transition: transform 0.5s ease-out, background-color 0.5s ease;
}

.dark-mode{
  background-color:black;
  color:white;
}


body.dark-mode .toggleContainer {
  background-color: #333;
  border-color: #555;
}

body.dark-mode .slider {
  transform: translateX(40px);
  box-shadow: 0 0 8px 0.3 rgba(255, 255, 255, 0.2);
  color: lightgrey;
  background-color: #2c2c2c;
}




 */
